---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: 'Performance',
			description:
				'High-performance servers with the best uptime and high-speed internet.',
			icon: 'tabler:database',
		},
		{
			title: 'Monitoring',
			description:
				'All nodes always under monitoring (no slashing nodes) and alarm system.',
			icon: 'tabler:device-desktop-analytics',
		},
		{
			title: 'Interchain-Explorer',
			description:
				'Revonode Provides an explorer for the cosmos ecosystem sourced from PING.PUB .',
			icon: 'tabler:arrows-right-left',
		},
		

	],
	[		
		{
			title: 'Provide Public Services',
			description:
				'Presents public api endpoint for community (RPC, gRPC & API).',
			icon: 'tabler:list-check',
		},
		{
			title: 'Open to new ideas and contributions to community',
			description:
				'Contributing to the community and building it up to be a great and strong',
			icon: 'tabler:bulb',
		},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
		<div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-3xl">
			<p class="text-base text-primary-600 font-semibold tracking-wide uppercase"></p>
			<h2 class="text-3xl font-mono md:text-5xl font-bold leading-tighter tracking-tighter mb-4 text-center">
				<span class="whitespace-nowrap">Best Features</span>
			</h2>
			<!-- <p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				Fully contribute in chain network and community.
			</p> -->
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500 dark:bg-primary-700">
										{icon && <Icon name={icon} class="h-7 w-7" />}
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold font-sans">{title}</h3>
									<p class="text-gray-600 font-mono tracking-tighter	">{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
