---
import { Icon } from 'astro-icon';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import { getHomePermalink } from '~/utils/permalinks';
---

<header
	class="sticky top-0 z-40 flex-none mx-auto w-full"
	id="header"
>
	<div class="py-3 px-4 mx-auto w-full md:flex md:justify-between bg-white dark:bg-white md:px-10">
		<div class="flex justify-between">
			<a class="flex items-center" href={getHomePermalink()}>
				<Icon class="h-10 w-auto" name="logome"/>
			</a>
			<div class="flex items-center md:hidden ">
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex h-[calc(100vh-100px)] md:h-auto overflow-y-auto md:overflow-visible"
			aria-label="Main navigation"
		>
			<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">			
			<li>
				<a
					class="font-medium hover:text-gray-900 px-4 py-3 flex items-center transition duration-150 ease-in-out"
					href="#">Home</a
				>
			</li>
			<li>
				<a
					class="font-medium hover:text-gray-900 px-4 py-3 flex items-center transition duration-150 ease-in-out"
					href="#features">Features</a
				>
			</li>
			<li>
				<a
					class="font-medium hover:text-gray-900 px-4 py-3 flex items-center transition duration-150 ease-in-out"
					href="#networks">Networks</a
				>
			</li>
			</ul>
			<div class="md:self-center flex mb-4 md:mb-0 ml-2">
				<div class="lg:hidden md:hidden xl:hidden items-center md:flex">
					<!-- <a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS Feed"
						href={getRelativeLink('/rss.xml')}
					>
						<Icon name="tabler:rss" class="w-5 h-5" />
					</a> -->
					<a
						href="https://twitter.com/0xRevo" target="_blank"
						class="inline-block text-gray-500 hover:bg-gray-100  focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5"
						aria-label="Astrowind Twitter"
					>
						<Icon name="tabler:brand-twitter" class="w-5 h-5" />
					</a>
					<a
						href="https://discord.com/users/758688021586772000" target="_blank"
						class="inline-block text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5"
						aria-label="Astrowind Discord"
					>
						<Icon name="tabler:brand-discord" class="w-5 h-5" />
					</a>
					<a
						href="https://github.com/0xRevo" target="_blank"
						class="inline-block text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5"
						aria-label="Astrowind Github"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5" />
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>
