---
import { Picture } from '@astrojs/image/components'
---

<section class="relative md:-mt-[100px]">
	<div class="max-w-6xl mx-auto px-4 sm:px-6" id="hero">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<div class="max-w-2xl mx-auto">
					<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
						</div>
					</div>
				</div>
			</div>
	
          
          
          
          <img src="https://raw.githubusercontent.com/sipalingtestnet/coreum/main/Artboard%201.png">
          
          
          
          
          
          
          
          
       
			
			</div>
		</div>
</section>
