---

---

<section class="h-screen mx-auto pb-[10rem] flex items-center justify-center bg-cover bg-[url('~/assets/images/bg-image.png')]">
	<div class="mx-auto max-w-7xl px-4 sm:px-5" id="hero">
		<div class="pt-[]">
			<div class="text-center mx-auto">
				<h1 class="text-4xl font-semibold font-serif md:text-[2.60rem] sm:text-2xl mb-2.5">
					HI! I'am
					<a class="text-gradient font-bold">Revonode</a>	
				</h1>
				<h2 class="text-xl text-slate-900 font-serif">
					Highly Secure & Reliable PoS Network Validator			
				</h2>
				<div class="max-w-xs pt-8 m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center">
					<div class="flex w-full sm:w-auto justify-center ">
						<a
							class="btn rounded-[5rem] font-mono bg-white bg-opacity-70 hover:text-black hover:bg-white hover:bg-opacity-40"
							href="#features">Read more</a
							>
					</div>
				</div>
			</div>
			<div>

			</div>
		</div>
	</div>
</section>
