---
 const items = [
 {
		title: 'Aura',
		description:
			'euphoria_v0.4.2 ',
		mainnetPicture: 'https://pbs.twimg.com/profile_images/1623175385402986497/pfm8dHoo_400x400.jpg',
		Link: '/testnet/aura',
	},
  {
		title: 'Andromeda',
		description:
			'GALILEO-3 ',
		mainnetPicture: 'https://raw.githubusercontent.com/kj89/testnet_manuals/main/pingpub/logos/andromeda.png',
		Link: '/testnet/andromeda',
	},
  {
		title: 'Blockxnet',
		description:
			'euphoria_v0.4.2 ',
		mainnetPicture: 'https://pbs.twimg.com/profile_images/1571914336288776193/HmxJDHvF_400x400.jpg',
		Link: '/testnet/blockxnet',
	},
	{
		title: 'Coreum',
		description:
			'coreum-testnet-1',
		mainnetPicture: 'https://1384010418-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2FlCF28T3TC2kXJKw5KADQ%2Fuploads%2Fgit-blob-dd06d1ad737f1a9787e65a0f2b4fd5c902950271%2Fcoreum.png?alt=media',
		Link: '/testnet/coreum',
	},
  {
		title: 'Dymension',
		description:
			'35-C',
		mainnetPicture: 'https://pbs.twimg.com/profile_images/1594732521962541058/NGdT4O2k_400x400.jpg',
		Link: '/testnet/dymension',
	},

  {
		title: 'Games Of Alliance',
		description:
			'4 CHAIN ',
		mainnetPicture: 'https://pbs.twimg.com/profile_images/1532402011324436483/_UxbGWt3_400x400.png',
		Link: '/testnet/goa',
	},
  {
		title: 'Nolus',
		description:
			'nolus-rila',
		mainnetPicture: 'https://raw.githubusercontent.com/kj89/testnet_manuals/main/pingpub/logos/nolus.png',
		Link: '/testnet/nolus',
	},

 

];

---
<!-- 
	{
		title: '',
		description:
			'',
		mainnetPicture: '',
		Link: '',
	},
-->
<section class="scroll-mt-16 pb-[10rem] pt-8" id="networks">
	<div class="absolute inset-0 bg-primary-50 pointer-events-none" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="text-center">
				<h2 class="text-2xl md:text-3xl subpixel-antialiased text-black font-bold font-sans tracking-widest">
					TESTNET
				</h2>
			</div>
			<div class="grid gap-5 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-start my-12 pt-5">
				{items.map(({ title, mainnetPicture, description, Link }) => (
			  <a href={Link}>
				<div class="flex-col flex md:text-left lg:text-left xl:text-left items-center lg:items-left shadow-md shadow-gray-200 text-center md:flex-row lg:flex-row lg:flex rounded-[10px] transition hover:shadow-xl border-slate-600 border py-6 px-3 md:py-3.5 lg:py-3.5">
					<img class="w-[4rem] m-1.5 md:mr-4 lg:mr-4 rounded-full" src={mainnetPicture}/>
					<div class="flex flex-col">
						<div>
							<p class="text-xl text-black btn-kuntul"
							>
							{title}
							<span class="flex h-[0.5rem] w-[0.5rem] relative ml-1.5">
								<span class="absolute inline-flex animate-ping h-full w-full rounded-full bg-green-600 opacity-75"></span>
								<span class="relative rounded-full h-[0.5rem] w-[0.5rem] bg-green-700"></span>
								</span>
							</p>
						</div>
						<div>
							<h4 class="text-gray-500 font-mono text-sm">
								{description}
							</h4>
						</div>
					</div>
				</div>
			  </a>
				))}
			  </div>
		</div>
	</div>
</section>

