---

const items = [
	{
		title: 'Gitopia',
		description:
			'Testnet',
		mainnetPicture: 'https://raw.githubusercontent.com/GloryDAO/image-project/main/gitopia.png',
		Link: 'https://revonode.xyz/testnet/gitopia',
	},
	{
		title: 'Nibiru',
		description:
			'Testnet',
		mainnetPicture: 'https://raw.githubusercontent.com/GloryDAO/image-project/main/nibiru.jpg',
		Link: 'https://revonode.xyz/testnet/nibiru',
	},
	{
		title: 'Wormholes',
		description:
			'Testnet',
		mainnetPicture: 'https://raw.githubusercontent.com/GloryDAO/image-project/main/wormholes.jpg',
		Link: 'https://revonode.xyz/testnet/wormholes',
	},
	{
		title: 'Shardeum',
		description:
			'Testnet',
		mainnetPicture: 'https://raw.githubusercontent.com/GloryDAO/image-project/main/shardeum.jpg',
		Link: 'https://revonode.xyz/testnet/shardeum',
	},
	{
		title: 'QChain',
		description:
			'Testnet',
		mainnetPicture: 'https://raw.githubusercontent.com/GloryDAO/image-project/main/qchain.jpg',
		Link: 'https://revonode.xyz/testnet/qchain',
	},
	{
		title: 'Inery',
		description:
			'Testnet',
		mainnetPicture: 'https://raw.githubusercontent.com/GloryDAO/image-project/main/inery.jpg',
		Link: 'https://revonode.xyz/testnet/inery',
	},
	{
		title: 'Adamnite',
		description:
			'Testnet',
		mainnetPicture: 'https://raw.githubusercontent.com/GloryDAO/image-project/main/adamnite.jpg',
		Link: 'https://revonode.xyz/testnet/adamnite',
	},
	{
		title: 'Deinfra',
		description:
			'Testnet',
		mainnetPicture: 'https://raw.githubusercontent.com/GloryDAO/image-project/main/deinfra.jpg',
		Link: 'https://revonode.xyz/testnet/deinfra',
	},
];
---
<!-- 
	{
		title: '',
		description:
			'',
		mainnetPicture: '',
		Link: '',
	},
-->
<section class="scroll-mt-16 pb-[10rem] pt-8" id="networks">
	<div class="absolute inset-0 bg-primary-50 pointer-events-none" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="text-center">
				<h2 class="text-2xl md:text-3xl subpixel-antialiased text-black font-bold font-sans tracking-widest">
					NETWORKS
				</h2>
			</div>
			<div class="grid gap-5 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-start my-12 pt-5">
				{items.map(({ title, mainnetPicture, description, Link }) => (
			  <a href={Link}>
				<div class="flex-col flex md:text-left lg:text-left xl:text-left items-center lg:items-left shadow-md shadow-gray-200 text-center md:flex-row lg:flex-row lg:flex rounded-[10px] transition hover:shadow-xl border-slate-600 border py-6 px-3 md:py-3.5 lg:py-3.5">
					<img class="w-[4rem] m-1.5 md:mr-4 lg:mr-4 rounded-full" src={mainnetPicture}/>
					<div class="flex flex-col">
						<div>
							<p class="text-xl text-black btn-kuntul"
							>
							{title}
							<span class="flex h-[0.5rem] w-[0.5rem] relative ml-1.5">
								<span class="absolute inline-flex animate-ping h-full w-full rounded-full bg-green-600 opacity-75"></span>
								<span class="relative rounded-full h-[0.5rem] w-[0.5rem] bg-green-700"></span>
								</span>
							</p>
						</div>
						<div>
							<h4 class="text-gray-500 font-mono text-sm">
								{description}
							</h4>
						</div>
					</div>
				</div>
			  </a>
				))}
			  </div>
		</div>
	</div>
</section>